<app-prueba-generador-plantilla></app-prueba-generador-plantilla>
<div class="container">
  <!-- Añadir la imagen del logo en la parte superior -->

  <!-- <div class="sidebar">
    <div class="logo-container">
      <img src="assets/images/logo.png" alt="Angular Doc Logo" class="logo" />
    </div>
    <app-docx-uploader class="sidebar-item"></app-docx-uploader>
    <app-docx-tool-generate-boton
      class="sidebar-item"
    ></app-docx-tool-generate-boton>
    <app-doox-tool-template-generator></app-doox-tool-template-generator>
    <app-prueba-generador-plantilla></app-prueba-generador-plantilla>
  </div> -->

  <div class="main-content">
    <app-prueba-visor-plantilla></app-prueba-visor-plantilla>
    <app-json-tool
      [jsonData]="jsonSample"
      (jsonChange)="handleJsonChange($event)"
      (nameSaved)="handleNameSaved($event)"
      (jsonToolChange)="handleJsonToolChange($event)"
      (jsonToolJsonSaveClick)="handleJsonSaveClick($event)"
    ></app-json-tool>
  </div>
</div>
