<div class="container">
  <!-- Añadir la imagen del logo en la parte superior -->

  <div class="sidebar">
    <div class="logo-container">
      <img src="assets/images/logo.png" alt="Angular Doc Logo" class="logo" />
    </div>
    <app-docx-uploader></app-docx-uploader>
    <!-- <button (click)="newDocGenerate()">Descargar Documento</button>
    <button (click)="generarPlantillaSimple()">Generar Plantilla Simple</button> -->
  </div>

  <div class="main-content">
    <app-json-tool
      (jsonChange)="handleJsonChange($event)"
      (nameSaved)="handleNameSaved($event)"
      (jsonToolChange)="handleJsonToolChange($event)"
    ></app-json-tool>
    <!-- <app-json-reader
      (jsonSaved)="handleJsonSaved($event)"
      (nameSaved)="handleNameSaved($event)"
    ></app-json-reader> -->
  </div>
</div>
