.container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
}

.sidebar {
  width: 250px;
  padding: 20px;
  background-color: #4a90e2;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centramos los elementos horizontalmente */
}

.sidebar-item {
  width: 100%; /* Asegura que los elementos ocupen todo el ancho del sidebar */
  margin-bottom: 20px;
}

.primary-button,
app-docx-uploader {
  margin-bottom: 20px;
}

.primary-button {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #357ab7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.primary-button:hover {
  background-color: #2c6b98;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Nuevos estilos para centrar y alinear coherentemente los elementos */
.sidebar-item {
  display: flex;
  justify-content: center; /* Centramos los elementos horizontalmente */
  align-items: center; /* Centramos los elementos verticalmente */
  text-align: center;
}

.sidebar-item app-docx-uploader,
.sidebar-item app-docx-tool-generate-boton {
  width: 100%; /* Asegura que los componentes ocupen todo el ancho disponible */
}
